* {
    margin:0;
    padding:0;
}

/* body */

body {
    background: rgb(242, 242, 242);
    font: 400 0.9em/150% 'Roboto', sans-serif;
    color:rgb(38,38,38);
}

h1 {
    font: 400 1.2em/160% 'Roboto', sans-serif;
    padding:0.5em 1.2em;
    display:inline-block;
}

h2 {
    font: 400 1.1em/140% 'Roboto', sans-serif;
    padding:0.7em;
    margin-bottom:0.2em;
    padding-bottom:0;
}

h3 {
    font: 400 1.1em/140% 'Roboto', sans-serif;
    padding:1em 1em 1em 3em;
    text-transform: uppercase;
    display:inline-block;
}

h4 {
    font: 400 1em/140% 'Roboto', sans-serif;
    padding:1em 0em;
    display:inline-block;
    text-transform: lowercase;
    margin-right:10px;
}

/* header */

header {
    background: rgb(255,255,255);
    width:100%;
    border-bottom: 1px solid #cccccc;
    position: fixed;
    top:0;
}

header > input {
    display: inline-block;
    padding: 0.65em;
    margin:0;
    border-radius: 0.2em 0 0 0.2em;
    border:1px solid #cccccc;
    position:absolute;
    right:114px;
    top:5px;
}

#search {
    color:rgb(13,13,13);
    text-decoration:none;
}

#lgrg {
    display:inline-block;
    position:absolute;
    right:5px;
    top:5px;
}

#lgrg > a {
    color:rgb(13,13,13);
    text-decoration:none;
}

.fa-sign-in, .fa-user-plus {
    display:inline-block;
    vertical-align: middle;
    margin-left:1px;
    border:1px solid #cccccc;
    border-radius: 0.2em;
    padding:0.7em;
    max-width:0.8em;
    max-height: 0.8em;
    transition: ease background 1s;
}

.fa-search {
    border-radius: 0 0.2em 0.2em 0;
    display: inline-block;
    border:1px solid #cccccc;
    border-left:0;
    padding:0.7em;
    max-width: 0.8em;
    max-height: 0.8em;
    position:absolute;
    right:81px;
    top:5px;
}

.fa-sign-in:hover, .fa-user-plus:hover {
    background:rgb(242,242,242);
    transition: ease background 1s;
}

/* main */

#hrd {
    margin:8em auto -6px auto;
    width:70%;
}

#hrd img {
    width:100%;
    margin:0;
    padding:0;
    border-radius: 0.3em 0.3em 0 0;
}

article {
    background:rgb(255,255,255);
    width: calc(70% - 2px);
    margin: auto;
    margin-bottom:1em;
    border:1px solid #cccccc;
    border-top:0;
    display:none;
    padding-bottom:1em;
}

article p {
    padding:1em;
    padding-top:0;
    text-align: justify;
}

article p:first-child {
    padding-top:1em;
}

/* navigation */

nav {
    width:calc(70% - 1px);
    border:1px solid #cccccc;
    border-top: 0;
    border-bottom:0;
    padding:0;
    margin:0;
    background:rgb(255,255,255);
    margin: 0 auto;
    display: table;
    table-layout:fixed;
}

nav a {
    display:table-cell;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    background:rgb(230,230,230);
    padding:0.5em;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    color:rgb(13,13,13);
}

nav a:last-child {
    border-right:0;
}

nav a:focus, .active {
    background: white;
    border-bottom:0;
}

/* login and register pop-ups '*/

#logbg {
    width:100%;
    height:100%;
    z-index:99;
    background:rgba(200,200,200,.2);
    display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#logwd {
    width:250px;
    height:150px;
    background:rgb(255,255,255);
    border:1px solid #cccccc;
    border-radius: 0.2em;
    display:none;
    text-align: center;
    margin:auto auto;
    z-index:101;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#regwd {
    width:270px;
    height:225px;
    background:rgb(255,255,255);
    border:1px solid #cccccc;
    border-radius: 0.2em;
    display:none;
    text-align: center;
    margin:auto auto;
    z-index:101;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#logwd > form > input, #regwd > form > input {
    display:block;
    margin:auto;
    padding:0.5em;
    margin-top:0.5em;
    border:1px solid #cccccc;
    border-radius:0.2em;
}

/* information tables */
table {
    width:80%;
    border:1px solid #cccccc;
    margin:0.1em auto;
    font-size:0.9em;
    border-spacing: 0;
}

#league_efl, #league_pl, #league_l1 {
    text-align: center;
}

#league_pl img {
    max-height:15px;
    display:inline-block;
}

.legimg {
    height:15px;
    width:15px;
    text-align: center;
    display:inline-block;
    vertical-align: middle;
    margin-right:8px;
    margin-top:-2px;
    padding:0;
}

#league_pl td:nth-child(2), #league_efl td:nth-child(2), #league_l1 td:nth-child(2) {
    text-align: left;
}

th, td {
    border-right: 1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding:0.5em;
}

td:last-child, th:last-child {
    border-right: 0;
}

#score_pl td:last-child, #score_pl th:last-child, #score_efl td:last-child, #score_efl th:last-child, #score_l1 td:last-child, #score_l1 th:last-child {
    border-right:0;
    text-align: center;
}

#score_pl td:first-child, #score_pl th:first-child, #score_efl td:first-child, #score_efl th:first-child, #score_l1 td:first-child, #score_l1 th:first-child {
    text-align: center;
}

tr:last-child > td {
    border-bottom:0;
}